<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
 <h1>Brianna Beharrie</h1>
 <p>I am a twenty year old nagivating the maze called life. My major is Computer Science.
    I am in my second year now and the experience has been interesting. My hobbies include:
    reading, singing, dancing, playing with animals, playing games and learning new fascinating facts.
 </p>
 <img src="{{ url_for('static', filename='css/cats.jpg') }}" alt="Image of cats">
</body>
</html> 